table.portfolio{

  font-size: 1.3em;
  width: 100%;
  table-layout:fixed;

  thead{
    tr{
      padding-right: 50px;

      th{
        margin: 0;
        padding: 5px 5px 5px 5px;
        text-align: left;
        vertical-align: bottom;
      }

      th.rotate {
        /* Something you can count on */
        height: 75px;
        white-space: nowrap;
        vertical-align: inherit;
      }

      th.rotate > div {
        transform: translate(-25px, 35px) rotate(315deg);
        width: 25px;
      }
      th.rotate > div > span {
        padding: 0 0 0 30px;
      }
    }
  }

  tbody{
    tr{

      td{
        margin: 0;
        padding: 5px 5px 3px 5px;
        border-bottom: 1px #c0c0c0 solid;
      }

      &.pad{
        td{
          margin: 0;
          border: 0;
          padding: 0;
        }
      }
    }
  }
}