div.games-grid-container{
    max-width: 860px;
    margin: 0 auto;
}

ul.games-grid{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li.games-grid-game-container{
    margin: 7.5px;
}

div.games-grid-game{
    width: 200px;
    height: 127px;
    background-color: #646464;
}

div.games-grid-game__highlight{
    background-color: #132029;
    color: #ffffff;
}

div.games-grid-game{
    width: 200px;
    height: 127px;
    background-color: #646464;
}

div.games-grid-game-summary{
    font-size: 0.8em;
}

form.game-filter{
    max-width: 860px;
    margin: 0 auto;
    text-align: left;
    display: flex;
}

form.game-filter fieldset{
    width: 180px;
}