div.games-grid-container{
    max-width: 1200px;
    margin: 0 auto;
}

ul.games-grid{
    list-style: none;
    margin: 0;
    padding: 0;
}

.games-grid-game-container{
    position: relative;
    display: inline-block;
    width:18%;
    height:0;
    margin:0 1.33% 1.33% 0;
    padding-bottom:11.4%;
    background-color:#646464;
    box-shadow:1.1px 2.8px 6px rgba(0, 0, 0, 0.3);
}

.games-grid-game-container:nth-child(5n){
    margin-right:0;
}

.games-grid-game{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;    
}

.games-grid-game__highlight{
    background-color:#132029;
    color:#fff;
}

div.games-grid-game__highlight a{
    color: #ffffff;
}

div.games-grid-game img.games-grid-game-icon{
    width: 100%;
    height: 100%;
}

div.games-grid-game-summary{
    font-size: 0.8em;
}

.game-demo-modal-container{
    display:flex;
    width:100%;
}

.game-demo-modal-close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #132029;
    border: 1px #132029 solid;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    padding: 0 4px 3px 4px;
}

.game-demo-modal-detail{
    display: table-cell;
    background-color: white;
    width: 200px;
}

.game-demo-modal-container .game-demo-viewport{
    display: table-cell;
    flex: 1;
    overflow: hidden;
}

.game-demo-viewport iframe{
    margin: 0;
    padding: 0;
    border: 0;
}
