@import "../../assets/sass/variables.scss";
@import "../../assets/sass/respond.scss";

.games-grid-container{
    margin-right:-16px;
}

.games-grid{
    list-style:none;
    margin:0;
    padding:0;
}

.games-grid-game-container{
    position:relative;
    display:inline-block;
    max-width:100%;
    width:220px;
    height:140px;
    margin:0 16px 16px 0;
    background-color:#646464;
    box-shadow:1.1px 2.8px 6px rgba(0, 0, 0, 0.3);
}

.games-grid-game{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;    
}

.games-grid-game__highlight{
    padding:15px;
    background-color:#14334a;
    background-image:linear-gradient(139deg, #14334a 0%, #14334a 11%, #006ba3 100%);
    color:#fff;
}

.games-grid-game-name{
    font-size:1.4em;
    font-weight:bold;
}

.games-grid-game__highlight a{
    color: #ffffff;
}

.games-grid-game img.games-grid-game-icon{
    width: 100%;
    height: 100%;
    background-color: #00060D;
}

.games-grid-game .games-grid-game-icon-placeholder{
    display: block;
    color: #ffffff;
    font-size: 1.4em;
    font-weight:bold;
    text-align:center;
    padding: 15px 5px;
}

.games-grid-game-description p{
    margin:6px 0 0 0;
    font-size:1.2em;
}

.games-grid-game-info a{
    float:right;
    display:block;
    margin:0 0 0 10px;
    width:46px;
    height:46px;
    line-height:44px;
    font-size:2.2em;
    font-weight:bold;
    text-align:center;
    border:1px solid #fff;
    border-radius:50%;
    text-decoration:none;
}

.games-grid-game-demo-options{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:50px;
    background-color:$color-blue-dark;

    .games-grid-game-demo-title{
        position:relative;
        display:block;
        float:left;
        height:100%;
        padding:0 5px 0 15px;
        margin-right:20px;
        background-color:#007dbe;
        text-transform:uppercase;
        vertical-align:middle;
        line-height:50px;

        &:after{
            position:absolute;
            content:"";
            right:-10px;
            width:0;
            height:0;
            border-style:solid;
            border-width:25px 0 25px 10px;
            border-color:transparent transparent transparent #007dbe;
        }
    }

    .games-grid-game-demo{
        display:inline-block;
        margin:8px 10px;
        width:34px;
        height:34px;
        border:none;
        overflow:hidden;
        text-indent:-100em;
        cursor:pointer;
        background-color:transparent;
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;

        &_desktop{
            background-image:url(../../assets/images/icon-desktop.png);
        }

        &_mobile{
            background-image:url(../../assets/images/icon-mobile.png);
        }
    }

    .or{
        vertical-align:middle;
        color:#fff;
    }
}


.modal-overlay{
    @include respond(small-only){
        overflow:scroll;
    }
}

.game-demo-modal-container{
    display:flex;
    width:100%;
    background:#000;
    border:3px solid #fff;

    @include respond(small-only){
        display:block;
    }
}

.game-demo-modal-close{
    display:block;
    z-index:2;
    position:absolute;
    top:15px;
    right:15px;
    width:26px;
    height:26px;
    font-size:16px;
    line-height:24px;
    text-align:center;
    color:$color-grey-dark;
    text-transform:uppercase;
    border:1px $color-grey-dark solid;
    border-radius:50%;
    cursor:pointer;
    padding:0 4px 3px 4px;

    @include respond(small-only){
        top:-15px;
        right:-15px;
        background:#fff;
    }
}

.game-demo-viewport{
    display:table-cell;
    flex:1;
    overflow:hidden;

    @include respond(small-only){
        display:block;
        flex:none;
    }

    iframe{
        margin:0;
        padding:0;
        border:none !important;
    } 
}

.game-demo-modal-detail{
    position:relative;
    display:table-cell;
    width:200px;
    padding:40px 30px;
    background:#fff;
//    border-left:2px solid white;

    @include respond(small-only){
        width:100% !important;
        display:block;
    }

    .game-demo-modal-title{
        font-size:2.2em;
        font-weight:600;
    }

    .game-demo-modal-description{
        margin:10px 0 10px 0;
        font-size:1.4em;
    }

    .game-provider-icon{
        max-height:50px;
    }

    .btn{
        position:absolute;
        bottom:90px;
        left:50%;
        margin-left:-40%;
        width:80%;
        font-size:1.8em;
    }

    .game-demo-switch-container{
        position:absolute;
        bottom:0;
        right:0;
        width:100%;
        height:60px;
        text-align:center;
        background:$color-blue-dark;

        .btn{
            bottom:10px;
        }
    }

    dl{
        margin-bottom:0;
    }

    dl + dl{
        margin-top:0;
    }

    dt,dd{
        display:inline-block;
        width:30%;
        margin:0;
        padding:6px 0;
        font-size:1.3em;
        color:$color-grey-dark;
        border-bottom:1px solid $color-grey;

        @include respond(large){
            padding:8px 0;
            font-size:1.4em;
        }

        &:empty:after{
            content:"\00a0";
        }
    }

    dt{
        font-weight:bold;
    }

    dd{
        width:70%;
        text-align:right;
    }

    .game-demo-switch-button-container{
        float:right;
        width:50%;
        height:30px;
        margin:15px;
        background:$color-grey;
        border-radius:15px;
        text-align:left;
        overflow:hidden;

        .game-demo-switch-choice{
            width:50%;
            height:100%;
            line-height:26px;
            background:$color-grey;
            border:none;
            font-size:1.2em;

            &:first-child{
                border-right:1px solid #fff;
            }

            &.active{
                background:$color-blue;
                color:#fff;
            }
        }
    }
}