.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #132029;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

.app-footer {
  background-color: #132029;
  height: 150px;
  padding: 20px;
  color: white;
}

.promo-banner {
  width: 80%;
  max-width: 800px;
  height: 120px;
  background-color: #646464;
  margin: 0 auto;
  padding: 20px;
  color: black;
}