.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #132029;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

.app-footer {
  background-color: #132029;
  height: 150px;
  padding: 20px;
  color: white;
}

a.btn{
  margin: 5px;
  padding: 0 15px;
  background-color: #000000;
  border: 5px #000000 solid;
  border-radius: 15px;
}

a.btn.btn-white{
  background-color: #ffffff;
  border-color: #fff;
}