.app-header{
  padding:10px 20px;
  color:white;
}

.app-logo{
	display:inline-block;
	margin:20px 20px 0 0;
	vertical-align:middle;
	max-width:100px;

	@include respond(medium){
		max-width:150px;
	}
}

.app-title{
	display:inline-block;
	vertical-align:middle;
	font-size:1.2rem;
	float:right;
	margin-bottom:5px;

	@include respond(medium){
		float:none;
		margin-bottom:0;
	}
}