.app-header{
  padding:10px 20px;
  color:white;
}

.app-logo{
	display:inline-block;
	margin:20px 20px 0 0;
	vertical-align:middle;
	max-width:100px;

	@include respond(medium){
		max-width:150px;
	}
}

.app-title{
	display:none;
	vertical-align:middle;
	font-size:1.0rem;
	margin-bottom:0;

	@include respond(medium){
		font-size:1.2rem;
	}

	@include respond(360px){
		display:inline-block;
	}
}