//Sizes
$gutter:		 80px;

$width-large:    1440px;
$wrapper-large:  1224px;

$width-medium:   1164px;
$wrapper-medium: 988px;

$width-small:	 912px;
$wrapper-small:  752px;

$width-mobile:	 600px;

//Colours
$color-blue:#007dbe;
$color-blue-dark:#14334a;
$color-grey:#c3c3c3;
$color-grey-dark:#636466;