//Sizes
$gutter:		 80px;

$width-extra-large:    1384px;
$wrapper-extra-large:  1384px;

$width-large:    1150px;
$wrapper-large:  1150px;

$width-medium:   910px;
$wrapper-medium: 910px;

$width-small:	 676px;
$wrapper-small:  676px;

$width-mobile:	 600px;
$wrapper-mobile: 280px;

//Colours
$color-blue:#007dbe;
$color-blue-dark:#14334a;
$color-grey:#c3c3c3;
$color-grey-light:#818181;
$color-grey-dark:#636466;